*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    /* shared  */

.btn {
    background-color: #469165;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    color: white;
     gap: 10px;
     padding: 12px 16px ;
     display: flex; 
    border: none;
    justify-content: center;
     align-items: center;
}


 .btn:hover {
    background-color: #30B868;
}

 header {
    /* border: red solid 2px; */
     background-color: #FFFFFF;

}


nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;   
}
nav .nav-img {
    width: 139px;
    height: 60px;

}
nav .nav-text {
    display: flex;
    gap: 32px;
    padding: 34px 0;
    font-weight: 500;
    color: #000000;
}
 nav .btn button {
   padding: 12.5px 16px ;
    
    width: 164px;
  
}
 
   /* banner-section */


  #banner { 
    width: 100%;
    height: 674px;
    /* border: 2px solid red; */
    text-align: center;
    align-items: center;
    padding: 70px 120px 134px 0;
    gap: 40px;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
     flex-direction: column;
    
 }
  #banner .banner-top { 
    display: flex;
    width: 229px;
    height: 35px;
    margin: 0 auto;
    gap: 8px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 0 auto;
    justify-content: center;
    align-items: center; 
    border-radius: 1000px;   
   color: #469165;
   margin-top: 80px;
   margin-bottom: 16px;
}
  
#banner .banner-top .img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    gap: 1.8px;
    display: flex;
        align-items: center;
        text-align: center;
}

#banner .banner-text h2 {
    /* margin: 0 auto;
    font-weight: 700;
    font-size: 72px; */
    font-size: 75px;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
    
}

#banner .banner-text p {
    font-size: 18px;
    color:#FFFFFF;
    line-height: 24px;
    padding-bottom: 32px;
    
}

 .banner-btn {
    display: flex;
    border: none;
    gap: 16px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;

}

#banner-btn .button img {
    width: 20px;
    height: 20px;
    text-align: center;
    align-items: center;

}

.second-btn {
    border: 1px solid #FFFFFF;
    padding: 12px 16px ;
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;


}

/* notes section */
 
#notes {
   
    text-align: center;
    justify-content: center;
    background-color: #FBFBFB;
    padding-top: 60px;
      margin-top: 0px ;
    margin-bottom: 60px;

}
  

.notes-top h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.notes-top p {
    margin-bottom: 44px;
    color: #627382;
}
   

.notes-cards {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 24px;
    width: 1360px;
    margin: auto;
    
    
}

.card {
     padding: 30px;
    box-shadow: 0px 0px 8px 0 #0000000F;
     border-radius: 8px 8px 0 0;
     background-color: #FFFFFF;
}
 
.notes-cards img {
  padding: 12px;
  background-color: #F95555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.notes-cards h3 {
    margin-top: 16px;
    margin-bottom: 16px ;
}

.notes-cards p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 70px;
}
  


#brain {
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    text-align: start;
    align-items: center;
    margin: 120px 120px 120px 120px;
     gap: 60px;
}



.brain-img {
    height: 600px; ;
    width: 600;
    border-radius: 12px;
    margin-left: 120px;
    margin-right: 80px;
    
}

.brain .brain-containt {
    height: 396px;
    width: 600px;
    gap: 40px;
}

.brain-containt h6 {
    color: #469165;
    font-size: 16px;
    width: 500;
    margin-bottom: 16px;   

}

.brain-containt h2 {
    color: #001931;
    width: 700px;
    line-height: 100%;
    font-size: 48px;
    margin-bottom: 16px;

}

.brain-containt .paragraph {
    height: 60px;
    font-size: 16px;
    line-height: 20px;
    width: 500px;
    margin-bottom: 30px;
    color: #627382;


}

 .brain-text {
    gap: 6px;
    align-items: center;
    
} 


.brain-text p {
   margin-bottom: 16px;
   color: #001931;
   line-height: 20px;
   width: 700px;
   display: inline-flex;
  
}